/* A few base styles to get us started */

html {
  font-size: 16px;
  font-family: Gotham;
  font-weight: 300;
  line-height: 1.2 rem;
  color:rgb(64, 64, 64);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.header {
  width: 100%;
}

.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.25em;
  border: 1px solid lightgrey;
  background-color:rgb(233, 243, 255);
}

div.main > div {
  border: 1px solid lightgrey;

}

footer {
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
  background-color:rgb(31, 38, 46);
}

.copyright {
  color: rgb(225, 231, 241);
  line-height: 3em;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.img-centered {
  max-width: 35%;
  heigth: auto;
  margin: .75em auto;
  padding: .25em;
  outline: .1em solid gray;
  outline-offset: .2em;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  margin: 1.25em 0;
  align-self: flex-start;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 1.25em 0;
  align-self: flex-start;
}

.search-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0 auto;
}

.search-input {
  width: 30%;
  align-self: flex-start;
}

label, input {
  display: block;
  margin: .75em 0;
}

.links {
  display: block;
  list-style-type: none;
}

.link-internal {
  text-decoration: none;
  font-family:monospace;
  font-size: 1.2em;
  color:rgb(85, 96, 231);
}

.link-internal:hover {
  color:rgb(177, 45, 223);
}
