
<div class="flex-container">
  <div class="header">
    <div class="img-centered">
      <img src="img/logo.jpg" alt="Logo" />
    </div>    
  </div>
  <div class="main">
    <h1>404 - Not Found</h1>
    <h4>Oops... it looks like we didn't find anything. Try another search.</h4>
  </div>
</div>
