
<div class="flex-container">
  <div class="main">
    <img src="img/logo.jpg" alt="Logo" />
    <h1>404 - Not Found</h1>
    <h4>Oops... it looks like we didn't find anything. Try another search.</h4>
  </div>
</div>
