<div class="flex-container">
  <div class="main">
    <h1>Search For Books</h1>
    <div class="search">
      <h3>Enter A Title Here:</h3>
      <form class="search-form" action="search" method="POST">
        <div class="search-input">
          <label for="title">Enter a Title:</label>
          <input type="text" id="title" class="form-control" placeholder="title" name="title" />
          <!-- <label for="author">Enter an Author:</label>
          <input type="text" id="id" class="form-control" placeholder="id" name="id" /> -->
          <button>Search</button>
          <button>{{#if book}}Update{{else}}Add{{/if}}</button>
          <button>Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous">
</script>

<script type="text/javascript">

  $(document).ready(function(){
    var buttons = $('button');

      buttons.on('click', function(){
        var $this = $(this);
        $("form").attr("action", $this.text().toLowerCase());
      });
  });

</script>
