<div class="wrapper">
  <div class="col-sm-12 main container">
    <!-- <h4>Congratulations! You made it home.</h4> -->
    <div class="col-sm-12 master">
      <h1>Book Search</h1>
      <h2>Choose From A Title Below:</h2>
        {{#each books}}
        <ul>
          <li class="links"><a class="link-internal" href="/detail/{{title}}">
          {{title}}</a> By {{author}}</li>
        </ul>
        {{/each}}
      <div class="search">
        <h3>Or, Search For A Title Here:</h3>
        <form class="search-form" action="/search" method="POST">
          <div class="search-input">
            <label for="title">Enter a Book Title:</label>
            <input type="text" name="title" class="form-control" placeholder="title" required />
            <button>Search</button>
          </div>
        </form>
        <hr />
      </div>
    </div>
  </div>
  <footer class="flex-container">
      <span class="copyright">This site and it's contents are &copy; Blake Schwartz, 2016</span>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous">
</script>
<script type="text/javascript">
  $(document).ready(function(){
    var buttons = $('button');
    buttons.on('click', function(){
      var $this = $(this);
      var action = $this.text().toLowerCase();
      $("form").attr("action", "/" + action);
    });
  });
</script>